.idea
original_gitignore
app/design/*
app/etc/*
app/i18n/*
app/code/Magento/*
app/.htaccess
app/i18n/*
app/autoload.php
app/bootstrap.php
app/functions.php
bin/
dev/
lib/
pub/
setup/
update/
var/
vendor/
.htaccess
.htaccess.sample
.php_cs
.travis.yml
CHANGELOG.md
composer.json
composer.lock
CONTRIBUTING.md
CONTRIBUTOR_LICENSE_AGREEMENT.html
COPYING.txt
Gruntfile.js
index.php
LICENSE.txt
LICENSE_AFL.txt
nginx.conf.sample
package.json
php.ini.sample
README.md
!/app/code/Gigya/composer.json