<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
		<gigya_section>
			<general>
				<enable_gigya>1</enable_gigya>
			</general>
			<synchro>
				<gigya_update_max_retry>5</gigya_update_max_retry>
			</synchro>
		</gigya_section>
		<gigya_session>
            <session>
                <mode>0</mode>
                <expiration>1800</expiration>
            </session>
        </gigya_session>
        <gigya_screensets>
            <login_registration>
                <desktop_screenset_id>Default-RegistrationLogin</desktop_screenset_id>
            </login_registration>
            <profile_update>
                <desktop_screenset_id>Default-ProfileUpdate</desktop_screenset_id>
            </profile_update>
        </gigya_screensets>
    </default>
</config>
