<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Replace Magento Customer module Controllers -->
    <preference for="Magento\Customer\Controller\Account\LoginPost"
                type="Gigya\GigyaIM\Controller\Raas\GigyaPost" />
    <preference for="Magento\Customer\Controller\Account\CreatePost"
                type="Gigya\GigyaIM\Controller\Raas\Account\CreatePost" />
    <preference for="Magento\Customer\Controller\Account\EditPost"
                type="Gigya\GigyaIM\Controller\Raas\GigyaEditPost" />
    <preference for="Magento\Customer\Controller\Adminhtml\Index\Edit"
                type="Gigya\GigyaIM\Controller\Adminhtml\Customer\Index\Edit" />

    <preference for="Gigya\GigyaIM\Api\GigyaAccountRepositoryInterface"
                type="Gigya\GigyaIM\Model\ResourceModel\GigyaAccountRepository" />
    <preference for="Gigya\GigyaIM\Api\GigyaAccountServiceInterface"
                type="Gigya\GigyaIM\Model\GigyaAccountService" />
    <preference for="Magento\Framework\Session\Config"
                type="Gigya\GigyaIM\Session\Config" />

    <type name="Gigya\GigyaIM\Model\GigyaAccountService">
        <arguments>
            <argument name="logger" xsi:type="object">Gigya\GigyaIM\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- FO sync -->
    <type name="Magento\Customer\Model\CustomerExtractor">
        <plugin name="gigyaIM_customerExtractor" type="Gigya\GigyaIM\Plugin\Customer\Model\CustomerExtractorPlugin" />
    </type>

    <!-- disable Gigya Sync before customer delete -->
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="gigyaIM_allowDeleteInvalidCustomer" type="Gigya\GigyaIM\Plugin\Customer\Api\AllowDeleteInvalidCustomer" />
    </type>

    <!-- Register Gigya Logger -->
    <type name="Gigya\GigyaIM\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Gigya\GigyaIM\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Gigya\GigyaIM\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Gigya\GigyaIM\Model\ResourceModel\ConnectionFactory">
        <arguments>
            <argument name="connectionFactory" xsi:type="object">Magento\Framework\App\ResourceConnection\ConnectionFactory</argument>
        </arguments>
    </type>

    <virtualType name="Gigya\GigyaIM\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">gigyaim</argument>
        </arguments>
    </virtualType>
    <type name="Gigya\GigyaIM\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Gigya\GigyaIM\Model\Session\Storage</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Session\SessionManager">
        <plugin name="gigyaIM_Framework_Session_SessionManager" type="\Gigya\GigyaIM\Plugin\Framework\Session\SessionManager" />
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="gigyaIM_Config_Model_Config" type="\Gigya\GigyaIM\Plugin\Config\Model\Config" />
    </type>

    <type name="Magento\Framework\Session\Config">
        <plugin name="gigyaIM_Framework_Session_Config" type="\Gigya\GigyaIM\Plugin\Framework\Session\Config" />
    </type>

	<type name="Magento\Config\Model\Config\TypePool">
		<arguments>
			<argument name="sensitive" xsi:type="array">
				<item name="gigya_delete/deletion_aws_details/deletion_aws_secret_key" xsi:type="string">1</item>
				<item name="gigya_section/general/api_key" xsi:type="string">1</item>
				<item name="gigya_section/general/app_key" xsi:type="string">1</item>
				<item name="gigya_section/general/app_secret" xsi:type="string">1</item>
			</argument>
		</arguments>
	</type>
</config>
