<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Clever-age
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="customerLoginObserver" instance="Gigya\GigyaIM\Observer\CustomerLoginObserver" />
    </event>
    <event name="gigya_account_edited">
        <observer name="customerAccountEditedObserver" instance="Gigya\GigyaIM\Observer\CustomerAccountEditedObserver" />
    </event>
</config>