<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="gigya_pre_field_mapping">
        <!-- default implementation of g2cms field mapping : for now only gender attribute, dob attribute, subscribe attribute -->
        <observer name="defaultCMSSyncFieldMapping" instance="Gigya\GigyaIM\Observer\DefaultCMSSyncFieldMapping" />
    </event>
    <event name="pre_sync_to_gigya">
        <!-- default implementation of cms2g field mapping : for now only gender attribute, dob attribute, subscribe attribute -->
        <observer name="defaultGigyaSyncFieldMapping" instance="Gigya\GigyaIM\Observer\DefaultGigyaSyncFieldMapping" />
    </event>
    <event name="customer_logout">
        <observer name="gigyaLogout" instance="Gigya\GigyaIM\Observer\Session\Logout" />
    </event>

</config>