<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Clever-age
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="gigyaFrontendCustomerEnricherObserver" instance="Gigya\GigyaIM\Observer\FrontendMagentoCustomerEnricher" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="gigyaExtendSession" instance="Gigya\GigyaIM\Observer\Session\Extend" />
    </event>
</config>