<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- BO sync feature -->
    <type name="Magento\Customer\Model\ResourceModel\Customer">
        <plugin name="gigyaIM_customerResourceModel" type="Gigya\GigyaIM\Plugin\Customer\Model\ResourceModel\CustomerPlugin" />
    </type>
</config>