<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 X2i.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <!-- Sends the customer's account data to Gigya -->
        <observer name="gigya_sync_account" instance="Gigya\GigyaIM\Observer\Backend\SyncAccountObserver" />
    </event>
</config>