<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Clever-age
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_load_after">
        <!-- Enrich the Magento customer entity with the corresponding Gigya's account data, and save the entity -->
        <observer name="gigyaBackendMagentoCustomerEnricherObserver" instance="Gigya\GigyaIM\Observer\BackendMagentoCustomerEnricher" />
    </event>
    <!--<event name="customer_save_before">-->
    <event name="customer_save_before_with_dataobject">
        <!-- Enrich the Gigya account data with the corresponding Magento customer entity, and update the account on Gigya service -->
        <observer name="gigyaBackendGigyaAccountEnricherObserver" instance="Gigya\GigyaIM\Observer\BackendGigyaAccountEnricher" />
    </event>
    <event name="gigya_failed_sync_to_gigya">
        <observer name="gigyaBackendGigyaUpdateFailedObserver" instance="Gigya\GigyaIM\Observer\SyncCustomerToGigyaObserver" />
    </event>
    <event name="gigya_success_sync_to_gigya">
        <observer name="gigyaBackendGigyaUpdateSucceededObserver" instance="Gigya\GigyaIM\Observer\SyncCustomerToGigyaObserver" />
    </event>
</config>
