<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Clever-age
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_load_after">
        <!-- Enrich the Magento customer entity with the corresponding Gigya's account data, and save the entity -->
        <observer name="gigyaBackendCustomerEnricherObserver" instance="Gigya\GigyaIM\Observer\BackendMagentoCustomerEnricher" />
    </event>
</config>