<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
		 colors="true"
		 verbose="true"
		 bootstrap="../../autoload.php">
	<testsuites>
		<testsuite name="Encryption">
			<file>./tests/TestEncryption.php</file>
		</testsuite>
		<testsuite name="DS">
			<directory>./tests/ds</directory>
			<file>DsFactoryTests.php</file>
			<file>DsQueryObjectTests.php</file>
		</testsuite>
		<testsuite name="Filed Mappings">
			<directory>./tests/fieldMappings</directory>
			<file>TestFiledMappingConf.php</file>
			<file>TestGigyaUpdater.php</file>
		</testsuite>
		<testsuite name="User">
			<directory>./tests/user</directory>
			<file>GigyaUserTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
