<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gigya\GigyaIM\Api\GigyaAccountServiceInterface"
                type="Gigya\GigyaIM\Model\Cron\RetryGigyaAccountService" />
    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">
        <!-- For triggering a Gigya rollback when a Gigya account has been updated but the corresponding Magento customer save fails -->
        <plugin name="gigyaIM_rollback" type="Gigya\GigyaIM\Plugin\Customer\Model\RollbackGigyaDataPlugin" />
    </type>
    <preference for="Gigya\GigyaIM\Helper\GigyaSyncHelper"
                type="Gigya\GigyaIM\Helper\RetryGigyaSyncHelper" />

    <preference for="Gigya\GigyaIM\Model\MagentoCustomerFieldsUpdater"
                type="Gigya\GigyaIM\Model\RetryMagentoCustomerFieldsUpdater" />
</config>
